.banner {
	text-align: center;
	}

@media (max-width: 500px){
.banner {
	width: 400px;
	}
}

@media (max-width: 760px){
.banner {
	width: 600px;
	}
}

@media (max-width: 500px){
.banner img {
	width: 400px;
	}
}

@media (max-width: 760px){
.banner img {
	width: 600px;
	}
}


