.card {
	padding: 20px 80px;
	margin: 20px 160px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
	border-radius: 0px;
}

.card img {
	width: 60px;
	border-radius: 6px;
}

.card h3 {
	flex-grow: 1;
	padding-left: 20px;
	font-size: 24px
}

@media (max-width: 500px){
.card {
	width: 400px;
	}
}

@media (max-width: 760px){
.card {
	width: 600px;
	}
}

@media (max-width: 250px){
.card {
	width: 200px;
	}
}

@media (max-width: 500px){
.card h3 {
	width: 400px;
	}
}

@media (max-width: 760px){
.card h3 {
	width: 600px;
	}
}


